@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,cyrillic);
/*  Colors  */
.nonedecoration-link {
  text-decoration: none;
  color: inherit;
}
.wrap-inner {
  padding: 0 20px;
  margin: 0 auto;
}
.page-wrap {
  text-align: center;
}
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
body {
  min-width: 320px;
}
p,
h1 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
@media (min-width: 700px) {
  .wrap-inner {
    padding: 0 40px;
  }
}
.slider__control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__toggle {
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;
  margin-right: 19px;
}
.slider__toggle:last-child {
  margin-right: 0;
}
.slider__toggle--active {
  border: 3px solid #283645;
}
.page-header {
  background: rgba(0, 0, 0, 0.3);
  padding: 21px 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.page-header .wrap-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  background: url("../img/head-logo.png") 0 0 no-repeat;
  width: 74px;
  height: 23px;
}
.menu-toggle {
  background: url("../img/menu-toggle.png") 0 0 no-repeat;
  width: 50px;
  height: 24px;
}
.top-menu {
  display: none;
}
@media (min-width: 700px) {
  .logo-link {
    background: url("../img/head-logo_md.png") 0 0 no-repeat;
    width: 145px;
    height: 40px;
  }
  .page-header {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
.intro {
  padding-top: 90px;
  background: url("../img/header-bg.jpg") center no-repeat;
  background-size: cover;
}
.intro .wrap-inner {
  background: url("../img/intro-iphone.png") no-repeat;
  background-position: 50% bottom;
}
.intro__title {
  padding: 25px 27px 320px;
  color: #ffffff;
  font-size: 24px;
}
@media (min-width: 700px) {
  .intro {
    display: flex;
    background: none;
  }
  .intro .wrap-inner {
    background: none;
  }
  .intro__title {
    padding: 100px 0 0;
    color: #ffffff;
    font-size: 40px;
    line-height: 48px;
    padding-right: 370px;
    padding-left: 40px;
  }
  .wrap {
    background: url("../img/iphone-6.png") calc(85%) bottom no-repeat, url("../img/header-bg.jpg") center no-repeat;
    background-size: auto, cover;
  }
}
.download {
  background: #1d2631;
  color: #ffffff;
  padding-top: 28px;
  padding-bottom: 35px;
}
.btn {
  display: inline-block;
  width: 203px;
  padding: 14px 35px 17px;
  border: 3px solid white;
  border-radius: 40px;
}
.btn__link {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.platform {
  padding-top: 30px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.platform__icon--apple {
  background: url("../img/icon-apple.png") 0 0 no-repeat;
  width: 46px;
  height: 57px;
}
.platform__icon--android {
  background: url("../img/icon-android.png") 0 0 no-repeat;
  width: 42px;
  height: 47px;
}
.platform__icon--winphone {
  background: url("../img/icon-winphone.png") 0 0 no-repeat;
  width: 44px;
  height: 42px;
}
@media (min-width: 700px) {
  .download {
    padding-right: 325px;
    padding-top: 35px;
    z-index: 2;
    background: none;
    padding-bottom: 110px;
  }
  .platform {
    padding-top: 45px;
    padding-bottom: 40px;
  }
  .download__desc {
    font-size: 18px;
    line-height: 24px;
  }
}
.carrot {
  padding: 45px 38px 30px;
}
.carrot__txt {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 35px;
}
.carrot__txt:last-child {
  padding-bottom: 0;
}
.megapolis:after {
  content: " ";
  display: block;
  width: 100%;
  height: 90px;
  background-image: linear-gradient(175deg, white 50%, #f2f2f2 50%);
}
@media (min-width: 700px) {
  .carrot {
    padding: 60px 15px 35px;
  }
  .carrot__txt {
    color: #283645;
    font-size: 40px;
    line-height: 48px;
    padding: 0;
  }
  .carrot__txt:last-child {
    padding-right: 20px;
  }
}
.tips {
  background: #f2f2f2;
  padding-top: 55px;
}
.tips:after {
  content: " ";
  display: block;
  background: url("../img/tips-iphone.png") no-repeat;
  background-position: 50% 0;
  background-size: cover;
  margin: 0 auto;
  width: 157px;
  height: 278px;
}
.tips__item {
  padding-bottom: 40px;
}
.tips__title {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 15px;
}
.tips__desc {
  font-weight: 400;
}
.review {
  padding-top: 50px;
}
.review:after {
  content: " ";
  display: block;
  width: 100%;
  height: 32px;
  padding-top: 42px;
  background-image: linear-gradient(175deg, white 50%, #f2f2f2 50%);
}
.review__author {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 25px;
}
.review__comment {
  font-weight: 400;
  line-height: 30px;
}
.review-slider {
  padding-top: 40px;
}
.price {
  padding-top: 65px;
  background: #f2f2f2;
}
.price .wrap-inner {
  padding: 0;
}
.tarif {
  display: flex;
}
.tarif__item {
  background: #ffffff;
}
.tarif__desc {
  background-color: #283645;
  border: 1px solid #e5e5e5;
  border-bottom: 0;
}
.tarif__name {
  padding: 0 92px;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}
.tarif__price {
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}
.tarif__option {
  padding: 24px;
  padding-right: 20px;
  border: 1px solid #e5e5e5;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.tarif__option:after {
  content: " ";
  background: url("../img/none-active_option.png") 0 0 no-repeat;
  width: 26px;
  height: 26px;
}
.tarif__option--active:after {
  background: url("../img/active_option.png") 0 0 no-repeat;
  width: 29px;
  height: 26px;
}
.price-slider {
  background: #f2f2f2;
  padding: 40px 0;
}
.blog {
  padding-top: 10px;
  padding-bottom: 40px;
}
.blog__item {
  color: #283645;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: start;
  border-bottom: 1px solid #e5e5e5;
}
.blog__item:last-child {
  border: none;
  padding-bottom: 0;
}
.blog__name {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
}
.blog__date {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: #d22856;
}
.blog__preview {
  font-size: 14px;
  font-weight: 400;
}
.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 60px;
}
.pagination__item {
  border: 2px solid #e5e5e5;
  margin-right: 8px;
}
.pagination__item:last-child {
  margin-right: 0;
}
.pagination__link {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding: 16px 24px;
}
/*  Footer Index  */
.index-footer {
  padding-top: 50px;
}
.index-footer .wrap-inner.map {
  padding: 0;
}
.call-us {
  font-size: 24px;
  padding-bottom: 40px;
}
.contacts__item {
  padding-bottom: 25px;
}
.contact__key {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 9px;
}
.contact__value {
  text-decoration: none;
  color: #d22856;
  font-size: 24px;
}
.map {
  position: relative;
}
.map:before {
  content: " ";
  display: inline-block;
  width: 100%;
  height: 70px;
  background: url("../img/footer-triangle.svg") center top no-repeat;
  position: absolute;
  z-index: 11;
}
/*  Footer other  */
.footer-logo {
  width: 145px;
  height: 40px;
  margin-bottom: 40px;
  display: inline-block;
  background: url(../img/footer-logo.png) 50% 50% no-repeat;
}
.social {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}
.social-link {
  display: inline-block;
  width: 51px;
  height: 51px;
  border: 3px solid #e5e5e5;
  border-radius: 50%;
  margin-right: 12px;
}
.social-link--twitter {
  background: url("../img/icon-twitter.png") 50% 50% no-repeat;
}
.social-link--facebook {
  background: url("../img/icon-facebook.png") 50% 50% no-repeat;
}
.social-link--youtube {
  background: url("../img/icon-youtube.png") 50% 50% no-repeat;
  margin-right: 0;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 46px;
}
.copyright-link {
  width: 27px;
  height: 34px;
  display: inline-block;
}
.copyright-link--htmlacademy {
  padding-left: 15px;
  background: url("../img/icon-htmlacademy.png") 50% 50% no-repeat;
}
