@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,cyrillic);
/*  Colors  */
.nonedecoration-link {
  text-decoration: none;
  color: inherit;
}
.wrap-inner {
  padding: 0 20px;
  margin: 0 auto;
}
.page-wrap {
  text-align: center;
}
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
body {
  min-width: 320px;
}
p,
h1 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
@media (min-width: 700px) {
  .wrap-inner {
    padding: 0 40px;
  }
}
@media (min-width: 1200px) {
  .wrap-inner {
    padding: 0 120px;
  }
}
.slider__control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__toggle {
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;
  margin-right: 19px;
}
.slider__toggle:last-child {
  margin-right: 0;
}
.slider__toggle--active {
  background: #ffffff;
  border: 3px solid #283645;
}
.page-header {
  background: rgba(0, 0, 0, 0.3);
  padding: 21px 0;
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.page-header .wrap-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  background: url("../img/head-logo.png") 0 0 no-repeat;
  width: 74px;
  height: 23px;
}
.menu-toggle {
  background: url("../img/menu-toggle.png") 0 0 no-repeat;
  width: 50px;
  height: 24px;
}
.top-menu {
  display: none;
}
.menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.menu__item {
  padding-right: 70px;
}
.menu__item:last-child {
  padding-right: 0;
}
.menu__link {
  text-decoration: none;
  color: inherit;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
}
@media (min-width: 700px) {
  .logo-link {
    background: url("../img/head-logo_md.png") 0 0 no-repeat;
    width: 145px;
    height: 40px;
  }
  .page-header {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .logo-link {
    background: url("../img/logo--desktop.png") 0 0 no-repeat;
    width: 146px;
    height: 40px;
  }
  .menu-toggle {
    display: none;
  }
  .top-menu {
    display: block;
  }
}
.intro {
  padding-top: 90px;
  background: url("../img/header-bg.jpg") center no-repeat;
  background-size: cover;
}
.intro .wrap-inner {
  background: url("../img/intro-iphone.png") no-repeat;
  background-position: 50% bottom;
}
.intro__title {
  padding: 25px 27px 320px;
  color: #ffffff;
  font-size: 24px;
}
@media (min-width: 700px) {
  .intro {
    display: flex;
    background: none;
    width: 280px;
  }
  .intro .wrap-inner {
    background: none;
  }
  .intro__title {
    padding: 100px 0 0;
    color: #ffffff;
    font-size: 40px;
    line-height: 48px;
    padding-right: 370px;
    padding-left: 40px;
  }
  .wrap {
    background: url("../img/iphone-6.png") calc(85%) bottom no-repeat, url("../img/header-bg.jpg") center no-repeat;
    background-size: auto, cover;
  }
}
@media (min-width: 1200px) {
  .intro {
    width: 310px;
  }
  .intro__title {
    font-size: 50px;
    padding-bottom: 65px;
  }
  .wrap {
    background: url("../img/intro-iphone--lg.png") calc(110%) bottom no-repeat, url("../img/header-bg.jpg") center no-repeat;
    background-size: auto, cover;
  }
}
.download {
  background: #1d2631;
  color: #ffffff;
  padding-top: 28px;
  padding-bottom: 35px;
}
.btn {
  display: inline-block;
  width: 203px;
  padding: 14px 35px 17px;
  border: 3px solid white;
  border-radius: 40px;
}
.btn__link {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.platform {
  padding-top: 30px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.platform__icon--apple {
  background: url("../img/icon-apple.png") 0 0 no-repeat;
  width: 46px;
  height: 57px;
}
.platform__icon--android {
  background: url("../img/icon-android.png") 0 0 no-repeat;
  width: 42px;
  height: 47px;
}
.platform__icon--winphone {
  background: url("../img/icon-winphone.png") 0 0 no-repeat;
  width: 44px;
  height: 42px;
}
@media (min-width: 700px) {
  .download {
    width: 360px;
    padding-top: 35px;
    z-index: 2;
    background: none;
    padding-bottom: 110px;
  }
  .platform {
    padding-top: 45px;
    padding-bottom: 40px;
  }
  .download__desc {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .download {
    width: 550px;
    padding-top: 0;
    padding-bottom: 130px;
  }
  .btn {
    padding: 14px 30px 17px;
    width: 240px;
  }
  .btn__link {
    font-size: 21px;
    line-height: 18px;
  }
  .platform {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}
.carrot {
  padding: 45px 38px 30px;
}
.carrot__txt {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 35px;
}
.carrot__txt:last-child {
  padding-bottom: 0;
}
.megapolis:after {
  content: " ";
  display: block;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(178deg, white 50%, #f2f2f2 50%);
}
@media (min-width: 700px) {
  .carrot {
    padding: 60px 15px 35px;
  }
  .carrot__txt {
    color: #283645;
    font-size: 40px;
    line-height: 48px;
    padding: 0;
  }
  .carrot__txt:last-child {
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  .carrot {
    padding-top: 75px;
    padding-bottom: 90px;
  }
}
.tips {
  background: #f2f2f2;
  padding-top: 55px;
}
.tips:after {
  content: " ";
  display: block;
  background: url("../img/tips-iphone.png") no-repeat;
  background-position: 50% 0;
  background-size: cover;
  margin: 0 auto;
  width: 157px;
  height: 278px;
}
.tips__item {
  padding-bottom: 40px;
}
.tips__title {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 15px;
}
.tips__desc {
  font-weight: 400;
}
@media (min-width: 700px) {
  .tips {
    padding-top: 0;
    position: relative;
  }
  .tips:after {
    position: absolute;
    bottom: 0;
    width: 268px;
    height: 481px;
    margin-left: 40px;
    background: url("../img/tips-iphone_md.png") 0 0 no-repeat;
  }
  .tips .wrap-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .tips__item {
    text-align: left;
    width: 240px;
  }
}
@media (min-width: 1200px) {
  .tips:after {
    display: none;
  }
  .tips .wrap-inner {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .tips__item {
    text-align: center;
    padding-right: 100px;
    padding-top: 240px;
  }
  .tips__item:last-child {
    padding-right: 0;
  }
  .tips__item--black {
    position: relative;
  }
  .tips__item--black:before {
    position: absolute;
    top: -100px;
    left: -20px;
    content: " ";
    display: block;
    width: 290px;
    height: 300px;
    background: url("../img/tips-pic--black.png") 0 0 no-repeat;
  }
  .tips__item--color {
    position: relative;
  }
  .tips__item--color:before {
    position: absolute;
    top: -100px;
    left: -20px;
    content: " ";
    display: block;
    width: 290px;
    height: 300px;
    background: url("../img/tips-pic--color.png") 0 0 no-repeat;
  }
  .tips__item--smile {
    position: relative;
  }
  .tips__item--smile:before {
    position: absolute;
    top: -100px;
    left: -20px;
    content: " ";
    display: block;
    width: 290px;
    height: 300px;
    background: url("../img/tips-pic--smile.png") 0 0 no-repeat;
  }
  .tips__title {
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 20px;
  }
  .tips__desc {
    font-size: 18px;
    line-height: 30px;
  }
}
.review {
  padding-top: 30px;
}
.review:after {
  content: " ";
  display: block;
  width: 100%;
  height: 32px;
  padding-top: 42px;
  background-image: linear-gradient(178deg, white 50%, #f2f2f2 50%);
}
.review__item {
  display: none;
}
.review__item:first-child {
  display: flex;
  flex-direction: column;
}
.review__author {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  order: 1;
  padding-bottom: 10px;
}
.review__author-desc {
  display: none;
  font-weight: 400;
  order: 2;
  color: #283645;
}
.review__comment {
  padding-bottom: 40px;
  font-weight: 400;
  line-height: 30px;
  order: 3;
}
@media (min-width: 700px) {
  .review__comment {
    font-size: 18px;
    order: 1;
  }
  .review__author {
    font-size: 20px;
    padding-bottom: 5px;
    order: 2;
  }
  .review__author-desc {
    display: block;
    order: 3;
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .review {
    padding-top: 160px;
  }
  .review:before {
    content: " “ ";
    display: block;
    font-size: 240px;
    line-height: 30px;
    color: #efefef;
    font-family: 'Georgia';
  }
  .review__comment {
    width: 760px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
  }
  .review__author {
    font-size: 24px;
    line-height: 30px;
  }
  .review__author-desc {
    font-size: 18px;
    line-height: 30px;
  }
  .review-slider {
    display: none;
  }
}
.price {
  padding-top: 65px;
  background: #f2f2f2;
}
.tarif {
  display: flex;
  justify-content: center;
}
.tarif__item {
  background: #ffffff;
}
.tarif__desc {
  background-color: #283645;
  border: 1px solid #e5e5e5;
  border-bottom: 0;
}
.tarif__name {
  padding: 0 92px;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}
.tarif__price {
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}
.tarif__option {
  padding: 24px;
  padding-right: 20px;
  border: 1px solid #e5e5e5;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.tarif__option:after {
  content: " ";
  background: url("../img/none-active_option.png") 0 0 no-repeat;
  width: 26px;
  height: 26px;
}
.tarif__option--active:after {
  content: " ";
  background: url("../img/active_option.png") 0 0 no-repeat;
  width: 29px;
  height: 26px;
}
.price-slider {
  background: #f2f2f2;
  padding: 40px 0;
}
.tarif-table {
  display: none;
}
.tarif-table tr {
  height: 49px;
  background: #ffffff;
}
.tarif-table td {
  border: 1px solid #ccc;
}
.tarif-table .col-1 {
  color: #283645;
  font-weight: 400;
  line-height: 30px;
}
.tarif-table .row-1 {
  color: #ffffff;
  background: #283645;
}
.tarif-table .row-1 td {
  padding: 12px 0 7px;
  width: 156px;
}
.tarif-table .row-1 .col-1 {
  visibility: hidden;
}
.tarif-table .row-1 .tarif-name {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
}
.tarif-table .row-1 .tarif-cost {
  display: block;
  font-size: 18px;
  line-height: 30px;
}
.price__option {
  background: url(../img/none-active_option.png) 50% 50% no-repeat;
}
.price__option--active {
  background: url(../img/active_option.png) 50% 50% no-repeat;
}
@media (min-width: 700px) {
  .tarif-table {
    display: inline-table;
  }
  .tarif {
    display: none;
  }
  .price-slider {
    display: none;
  }
}
@media (min-width: 1200px) {
  .tarif-table {
    margin-bottom: 95px;
  }
  .tarif-table .row-1 {
    height: 100px;
  }
  .tarif-table .tarif-cost {
    font-size: 24px;
    line-height: 30px;
  }
  .tarif-table .col-1 {
    width: 235px;
    height: 60px;
    text-align: left;
    padding-left: 20px;
  }
  .tarif-table .price__option {
    width: 233px;
  }
}
.blog {
  padding-top: 10px;
  padding-bottom: 40px;
}
.blog__item {
  color: #283645;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: start;
  border-bottom: 1px solid #e5e5e5;
}
.blog__item:last-child {
  border: none;
  padding-bottom: 0;
}
.blog__name {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
}
.blog__date {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: #d22856;
}
.blog__preview {
  font-size: 14px;
  font-weight: 400;
}
.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 60px;
}
.pagination__item {
  border: 2px solid #e5e5e5;
  margin-right: 8px;
}
.pagination__item:last-child {
  margin-right: 0;
}
.pagination__link {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding: 16px 24px;
}
.effect {
  padding: 100px 0;
  display: none;
  position: relative;
}
.effect__item {
  text-align: left;
  padding-left: 315px;
}
.effect__item:before {
  position: absolute;
  left: 40px;
  top: 55px;
  content: " ";
  display: block;
  background: url("../img/effect-clock.png");
  width: 262px;
  height: 302px;
}
.effect__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.effect__desc {
  font-weight: 400;
  line-height: 24px;
  color: #283645;
}
.effect__more {
  text-decoration: none;
  color: inherit;
  color: #d22856;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
}
@media (min-width: 700px) {
  .effect {
    display: block;
    padding-bottom: 115px;
  }
}
@media (min-width: 700px) {
  .effect {
    background: #f2f2f2;
  }
  .effect__title {
    padding-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
  }
  .effect__desc {
    padding-bottom: 35px;
    font-size: 18px;
    line-height: 30px;
  }
  .effect__more {
    font-size: 18px;
    line-height: 30px;
  }
}
/*  Footer Index  */
.feedback {
  padding-top: 50px;
}
.feedback .wrap-inner.map {
  padding: 0;
}
.call-us {
  font-size: 24px;
  padding-bottom: 40px;
  color: #283645;
}
.contacts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.contacts__item {
  padding-bottom: 25px;
}
.contact__key {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 9px;
  color: #283645;
}
.contact__value {
  text-decoration: none;
  color: #d22856;
  font-size: 24px;
}
.map {
  position: relative;
}
.map:before {
  content: " ";
  display: inline-block;
  width: 100%;
  height: 70px;
  background: url("../img/footer-triangle.svg") center top no-repeat;
  position: absolute;
  z-index: 11;
}
/*  Footer other  */
.footer-logo {
  width: 145px;
  height: 40px;
  margin-bottom: 40px;
  display: inline-block;
  background: url(../img/footer-logo.png) 50% 50% no-repeat;
}
.social {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}
.social-link {
  display: inline-block;
  width: 51px;
  height: 51px;
  border: 3px solid #e5e5e5;
  border-radius: 50%;
  margin-right: 12px;
}
.social-link--twitter {
  background: url("../img/icon-twitter.png") 50% 50% no-repeat;
}
.social-link--facebook {
  background: url("../img/icon-facebook.png") 50% 50% no-repeat;
}
.social-link--youtube {
  background: url("../img/icon-youtube.png") 50% 50% no-repeat;
  margin-right: 0;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 46px;
}
.copyright-link {
  width: 27px;
  height: 34px;
  display: inline-block;
}
.copyright-link--htmlacademy {
  padding-left: 15px;
  background: url("../img/icon-htmlacademy.png") 50% 50% no-repeat;
}
.index-footer {
  display: none;
}
@media (min-width: 700px) {
  .call-us {
    font-size: 40px;
    line-height: 48px;
  }
  .contacts {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contacts__item {
    width: 300px;
  }
  .page-footer {
    padding: 36px 0;
  }
  .page-footer .footer-logo {
    margin-bottom: 0;
  }
  .page-footer .social {
    padding-bottom: 0;
  }
  .page-footer .copyright {
    padding-bottom: 0;
  }
  .page-footer .wrap-inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }
  .index-footer {
    display: block;
  }
}
@media (min-width: 1200px) {
  .call-us {
    font-size: 50px;
  }
  .map {
    height: 522px;
  }
  .page-footer {
    padding: 70px 0;
  }
  .contacts__item {
    width: 220px;
    padding-right: 120px;
  }
  .contacts__item:last-child {
    padding-right: 0;
  }
}
