.wrap-inner {
  //width: 300px;
  padding: 0 20px;
}

.page-wrap {
  max-width: 320px;
  margin:  0 auto;
  text-align: center;
  overflow: hidden;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

p,h1 {
  margin: 0;
}

ul {
  padding: 0;
}