/*  Footer Index  */

.feedback {
  padding-top: 50px;

  .wrap-inner.map {
    padding: 0;
  }
}

.call-us {
  font-size: 24px;
  padding-bottom: 40px;
}

.contacts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.contacts__item {
  padding-bottom: 25px;
}

.contact__key {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 9px;
}

.contact__value {
  text-decoration: none;
  color: @warning-color;
  font-size: 24px;
}

.map {
  position: relative;

  &:before {
    content: " ";
    display: inline-block;
    width: 100%;
    height: 70px;
    background: url("../img/footer-triangle.svg") center top no-repeat;
    position: absolute;
    z-index: 11;
  }
}

/*  Footer other  */

.footer-logo {
  width: 145px;
  height: 40px;
  margin-bottom: 40px;
  display: inline-block;
  background: url(../img/footer-logo.png) 50% 50% no-repeat;
}

.social {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.social-link {
  display: inline-block;
  width: 51px;
  height: 51px;
  border: 3px solid @border-color;
  border-radius: 50%;
  margin-right: 12px;


  &--twitter {
    background: url("../img/icon-twitter.png") 50% 50% no-repeat;
  }

  &--facebook {
    background: url("../img/icon-facebook.png") 50% 50% no-repeat;
  }

  &--youtube {
    background: url("../img/icon-youtube.png") 50% 50% no-repeat;
    margin-right: 0;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 46px;
}

.copyright-link {
  width: 27px;
  height: 34px;
  display: inline-block;

  &--htmlacademy {
    padding-left: 15px;
    background: url("../img/icon-htmlacademy.png") 50% 50% no-repeat;
  }
}

//  For Tablet

@media (min-width:@screen_md) {
  .call-us {
    font-size: 40px;
    line-height: 48px;
  }
  
  .contacts {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contacts__item {
    width: 300px;
  }
  
  .page-footer {
    padding: 36px 0;
    
    .footer-logo {
      margin-bottom: 0;
    }
    
    .social {
      padding-bottom: 0;
    }
    
    .copyright {
      padding-bottom: 0;
    }
    
    .wrap-inner {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
    }
  }
}



table {
  
  .row-1 {
    td {
      padding: 21px 40px 15px;
    }
    
    .col-1{
      visibility: hidden;
    }
    
    .tarif-name {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 30px;
      font-weight: 700;
    }
    
    color: @color--base;
    background: @bg-color--base;
  }
  
  td {
    border: 1px solid #ccc;
  }
}