.intro {
  padding-top: 90px;
  background: url("../img/header-bg.jpg") center no-repeat;
  background-size: cover;

  .wrap-inner {
    background: url("../img/intro-iphone.png") no-repeat;
    background-position: 50% bottom;
  }
}

.intro__title {
  padding: 25px 27px 320px; 
  color: @color--base;
  font-size: 24px;
}

//  For tablet

@media (min-width:@screen_md) {
  .intro {
    display: flex;
    background: none;
    width: 245px;
    padding-left: 20px;

    .wrap-inner {
    background: none;
    }
  }

  .intro__title {
    padding: 100px 0 0; 
    color: @color--base;
    font-size: 40px;
    line-height: 48px;
    //padding-right: 370px;
    //padding-left: 40px; 
  }

  .wrap {
    background: url("../img/iphone-6.png") calc(100%-15px) bottom no-repeat,
                url("../img/header-bg.jpg") center no-repeat;

    background-size: auto, cover;
  }
}

//  For Desktop

@media (min-width:@screen_lg) {
  .intro {
    padding-left: 0;
    width: 305px;
  }
  
  .intro__title {
    //padding-right: 680px;
    font-size: 50px;
    padding-bottom: 65px;
  }
  
  .wrap {
    background: url("../img/intro-iphone--lg.png") calc(100% + 10px) bottom no-repeat,
                url("../img/header-bg.jpg") center no-repeat;

    background-size: auto, cover;
  }
}
