.tips {
  background: @bg-color--tips;
  padding-top: 55px;
  
  &:after {
    content: " ";
    display: block;
    background: url("../img/tips-iphone.png") no-repeat;
    background-position: 50% 0;
    background-size: cover;
    margin: 0 auto;
    width: 157px;
    height: 278px;
  }
}

.tips__item {
  padding-bottom: 40px;
}

.tips__title {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 15px;
}

.tips__desc {
  font-weight: 400;
}