.tips {
  background: @bg-color--tips;
  padding-top: 55px;
  
  &:after {
    content: " ";
    display: block;
    background: url("../img/tips-iphone.png") no-repeat;
    background-position: 50% 0;
    background-size: cover;
    margin: 0 auto;
    width: 157px;
    height: 278px;
  }
}

.tips__item {
  padding-bottom: 40px;
}

.tips__title {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 15px;
}

.tips__desc {
  font-weight: 400;
}

@media (min-width:@screen_md) {
  .tips {
    padding-top: 0;
    position: relative;

    &:after {
      //display: none;
      position: absolute;
      bottom: 0;
      width: 268px;
      height: 481px;
      margin-left: 40px;
      background: url("../img/tips-iphone_md.png") 0 0 no-repeat;
    }

    .wrap-inner {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .tips__item {
    text-align: left;
    width: 310px;
  }
}